//Browser Reset

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
// a. 1 rem is exactly the root font size
// b. Root font size is always set in the html selector

html {
  //font-size: 10px;
  //Change the root size from px to % so that the user can change font size in browser (increase/decrease) if they want to.
  //The absolute default font size in the browser is always 16px, so -->10/16 = 62.5
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  background-color: $color-mint;
}

.screen-reader {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

ul li {
  position: relative;
  left: -.1rem;

  padding-left: 1rem;

  list-style: disc inside none;
}
