// UNIVERSAL

.hdr-text {
  @include text($primary-font, normal, 1.4rem, $color-dark-green);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  @media (min-width: 550px) {
    font-size: 1.2rem;
  }
}

.intro-text {
  @include text($secondary-font, normal, 1.8rem, $color-grey);
  text-align: center;
  @media (min-width: 550px) {
    font-size: 2.1rem;
    text-align: left;
  }
}

.context-text {
  @include text($primary-font, normal, 1.4rem, $color-grey);
  letter-spacing: 0.05em;
  line-height: 2rem;
  text-align: center;
  @media (min-width: 550px) {
    text-align: left;
    letter-spacing: none;
    text-align: left;
  }
}
// NAVIGATION

.nav__wrapper a {
  @include text($primary-font, normal, 1.2rem, $color-mint);
  text-decoration: none;
  text-transform: uppercase;
}
// PROBLEM SECTION

.problem {
  &__sup {
    @include text($primary-font, normal, 0.7rem, $color-orange-red);
    text-decoration: underline;

    &:hover {
      font-weight: bold;
    }
  }

  &__quote {
    @include text($secondary-font, normal, 1.4rem, $color-brown);
    line-height: 2.2rem;
    text-align: left;

    @media (min-width: 550px) {
      font-size: 1.4rem;
      text-align: center;
    }
  }

  &__author {
    @include text($primary-font, bold, 1.4rem, $color-grey);
    font-style: normal;
    text-align: left;

    @media (min-width: 550px) {
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
