/*--------- Typography ---------*/
@mixin text( $family, $weight, $size, $col ) {
  color: $col;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}


/*--------- Effects ---------*/
@mixin darken-on-hover( $bg, $percent ) {
  transition: all 0.5s ease-out;

  &:hover {
    background-color: darken($bg , $percent);
  }
}


/*--------- Flex ---------*/
@mixin flex( $dir:column, $justify-content:center, $align-items:center ) {
  align-items: $align-items;
  display: flex;
  flex-direction: $dir;
  justify-content: $justify-content;
}


/*--------- Problem ---------*/
@mixin size-and-position( $position, $width, $X, $Y ) {
  position: $position;
  transform: translate( $X, $Y );
  width: $width;
}

@mixin problem-marginbtm {
  margin-bottom: 2rem;

  @media (min-width: 34.4em) {
    margin-bottom: 4rem;
  }
}
