.solution {
  background: linear-gradient($color-medium-blue 5%, $color-mint 90%);
  @include flex;

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 77rem;
    height: 100%;
    margin: 0;
    padding: 2.5rem 1.5rem;
    @include flex;
    @media (min-width: 550px) {
      margin: 2rem;
      padding: 4rem 6.5rem;
    }
    @media (min-width: 800px) {
      margin: 2rem 2rem 0;
      padding: 5rem 8.5rem 0;
    }
  }

  &__florence {
    width: 200px;
    margin-top: -30%;
    margin-bottom: 30px;
  }

  &__hdr {
    margin-bottom: $content-margin-btm;

    &--top {
      display: block;
      padding-bottom: $hdr-padding-btm;
    }
  }

  &__context {
    margin-bottom: $content-margin-btm;
  }

  &__section {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: 7rem 0;
      padding: 5rem 1.5rem;
      background-color: $color-white;

      @media (min-width: 800px) {
        flex-direction: row;
        max-width: 77rem;
        min-height: 39.5rem;
        margin: 5rem;
        padding: 5rem 8.5rem;
        border-radius: 5px;
        background-color: $color-white;
      }

    &--2 {
      @media (min-width: 800px) {
        padding: 1rem 8.5rem;
      }
    }

    &--6 {
      @media (min-width: 800px) {
        overflow: hidden;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      margin: 0;
      @media (min-width: 800px) {
        flex-basis: 50%;
        margin-right: 2rem;
      }
    }

    &__right {
      z-index: 2;
      flex-basis: 40%;
      margin-left: 4rem;
    }

    &__hdr {
      padding-bottom: $hdr-padding-btm;
    }

    &__content {
      z-index: 2;
      margin-bottom: $content-margin-btm;
    }

    &__bg {
      position: absolute;
      z-index: 0;
    }

    &__img {
      position: absolute;
      z-index: 1;
    }

    &__img1-bg {
      top: 0;
      align-self: center;
      width: 220px;
      transform: rotate(-180deg);
      @media (min-width: 550px) {}
      @media (min-width: 800px) {
        top: 75%;
        width: 300px;
        transform: rotate(360deg);
      }
    }

    &__img1 {
      top: -15%;
      align-self: center;
      width: 145px;
      @media (min-width: 550px) {}
      @media (min-width: 800px) {
        top: 71%;
        width: 170px;
      }
    }

    &__img2-bg {
      top: 0;
      align-self: center;
      width: 220px;
      transform: rotate(-180deg);
      @media (min-width: 800px) {
        top: 71%;
        width: 280px;
        transform: rotate(360deg);
      }
    }

    &__img2 {
      top: -13%;
      align-self: center;
      width: 120px;
      @media (min-width: 550px) {}
      @media (min-width: 800px) {
        top: 74%;
        width: 300px;
        height: 180px;
      }
    }

    &__img3-bg {
      top: 0;
      align-self: center;
      width: 330px;
      @media (min-width: 800px) {
        top: 0;
        right: 40%;
        width: 330px;
      }
    }

    &__img3 {
      top: -15%;
      align-self: center;
      height: 180px;
      transform: rotate(-33deg);
      @media (min-width: 800px) {
        top: -11%;
        right: 53%;
        height: 200px;
      }
    }

    &__img4-bg {
      top: 0;
      align-self: center;
      width: 330px;
      @media (min-width: 800px) {
        width: 500px;
      }
    }

    &__img4 {
      top: -15%;
      align-self: center;
      width: 350px;
      transform: rotate(-10deg);
      @media (min-width: 800px) {
        top: -7%;
        width: 480px;
      }
    }

    &__img5-bg {
      top: 0;
      align-self: center;
      width: 350px;
      @media (min-width: 800px) {
        width: 450px;
      }
    }

    &__img5 {
      top: -30%;
      align-self: center;
      width: 155px;
      transform: rotate(11deg);
      @media (min-width: 800px) {
        top: -11%;
        width: 155px;
      }
    }

    &__img6-bg {
      width: 0;
      @media (min-width: 800px) {
        bottom: 0;
        align-self: center;
        width: 300px;
      }
    }

    &__img6 {
      top: -26.5%;
      clip: rect(0px,250px,120px,0px);
      align-self: center;
      width: 260px;
      @media (min-width: 800px) {
        top: 68%;
        clip: rect(0px, 1000px, 1000px, 0px);
        width: 250px;
      }
    }

    &__img7-bg {
      top: 0;
      align-self: center;
      width: 280px;
      transform: rotate(-180deg);
      @media (min-width: 800px) {
        top: 58.2%;
        align-self: center;
        width: 400px;
        transform: rotate(360deg);
      }
    }

    &__img7 {
      top: -30%;
      align-self: center;
      width: 120px;
      transform: rotate(-18deg);
      @media (min-width: 800px) {
        top: 63%;
        align-self: center;
        height: 220px;
        transform: rotate(10deg);
      }
    }
  }
}

.bubble {
  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  &__florence {
    display: inline-block;
    margin: 0.2rem 18% 0.2rem 0.2rem;
    padding: 0.8rem 1.2rem;
    border-radius: 1.5rem;
    background-color: $color-bubble-mint;

    @media (min-width: 800px) {
      margin: 0.2rem 10% 0.2rem 0.2rem;
    }

    ul li {
      left: -10px;
      list-style: disc inside none;
      padding-left: 10px;
      position: relative;
    }

    &--tail {
      position: relative;
      margin: 0.2rem 10% 0.2rem 0.2rem;
      padding: 0.8rem 1.2rem;
      border-radius: 1.5rem;
      background-color: $color-bubble-mint;
      @media (min-width: 800px) {
        margin: 0.2rem 10% 0.2rem 0.2rem;
      }

      &:before {
        position: absolute;
        z-index: -1;
        bottom: -1px;
        left: -7px;
        height: 10px;
        content: "";
        transform: translate(0, -2px) rotate(160deg) scaleY(-1);
        border-right: 30px solid $color-bubble-mint;
        border-bottom-right-radius: 150px 50px;
        background: $color-bubble-mint;
      }
    }
  }

  &__patient {
    position: relative;
    flex-basis: content;
    margin: 0.2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 1.5rem;
    background-color: $color-light-blue;
    @media (min-width: 800px) {
      padding: 0.8rem 1.2rem;
    }

    &:before {
      position: absolute;
      z-index: -1;
      right: -7px;
      bottom: -1px;
      height: 10px;
      content: "";
      transform: translate(0, -2px) rotate(40deg);
      border-right: 30px solid $color-light-blue;
      border-bottom-right-radius: 150px 50px;
      background: $color-light-blue;
    }
  }
}

.avatar {
  display: block;
  width: 38px;
  margin-top: -38px;
  margin-left: -44px;
  border-radius: 50%;
  background-color: $color-yellow;

  &--1 {
    margin-top: -75px;
    margin-left: -44px;
  }
}

.emoji {
  width: 15px;
  margin-right: 3%;
}

.no-numbers {
  list-style: none;
}
