.solution {
  @include flex;
  background: linear-gradient($color-medium-blue 5%, $color-mint 90%);

  &__wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 25px 20px 40px;
    position: relative;
    width: 100%;

    @media (min-width: 550px) {
      margin: 20px auto;
      padding: 40px 65px 0;
      width: 95%;
    }

    @media (min-width: 800px) {
      margin: 30px auto 10px;
      padding: 46px 78px 10px;
    }
  }

  &__florence {
    display: block;
    margin: -30% auto 30px;
    width: 200px;
  }

  &__hdr {
    margin-bottom: $content-margin-btm;

    &--top {
      display: block;
      padding-bottom: $hdr-padding-btm;
    }
  }

  &__context {
    margin-bottom: $content-margin-btm;
  }

  &__section {
    align-items: center;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    padding: 50px 20px;
    position: relative;
    width: 100%;

    @media (min-width: 550px) {
      background-color: $color-white;
      border-radius: 5px;
      flex-direction: row;
      margin: 50px;
      max-width: 770px;
      min-height: 395px;
      padding: 50px;
    }

    @media (min-width: 800px) {
      padding: 50px 85px;
    }

    &--1 {
      @media (min-width: 550px) {
        margin-top: 10px;
      }
    }

    &--2 {
      @media (min-width: 800px) {
        padding: 10px 85px;
      }
    }

    &--6 {
      @media (min-width: 800px) {
        overflow: hidden;
      }
    }

    &--7 {
      margin-bottom: 40px;

      @media (min-width: 550px) {
      margin-bottom: 5px;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      margin: 0;

      @media (min-width: 550px) {
        flex-basis: 50%;
        margin-right: 20px;
      }
    }

    &__right {
      margin-right: -30px;
      max-width: 420px;
      padding: 5px 50px 10px;

      @media (min-width: 550px) {
        align-self: center;
        flex-basis: 40%;
        margin-left: 40px;
        margin-right: auto;
        padding: 0;
        z-index: 2;
      }
    }

    &__hdr {
      padding-bottom: $hdr-padding-btm;
    }

    &__content {
      margin-bottom: $content-margin-btm;
      z-index: 2;
    }

    &__bg {
      align-self: center;
      position: absolute;
      top: 0;
      z-index: 0;

      @media (min-width: 550px) {
        bottom: 0;
        top: auto;
      }
    }

    &__img {
      align-self: center;
      position: absolute;
      z-index: 1;
    }

    &__img1-bg {
      transform: rotate(-180deg);
      width: 190px;

      @media (min-width: 550px) {
        transform: rotate(360deg);
        width: 250px;
      }
    }

    &__img1 {
      top: -90px;
      width: 125px;
      @media (min-width: 550px) {
        top: 68%;
        width: 150px;
      }
    }

    &__img2-bg {
      transform: rotate(-180deg);
      width: 180px;

      @media (min-width: 550px) {
        transform: rotate(360deg);
        width: 260px;
      }
    }

    &__img2 {
      top: -80px;
      width: 100px;

      @media (min-width: 550px) {
        bottom: -40px;
        top: auto;
        width: 120px;
      }
    }

    &__img3-bg {
      top: 0;
      width: 290px;

      @media (min-width: 550px) {
        right: 30%;
        width: 300px;
      }
    }

    &__img3 {
      height: 150px;
      top: -15%;
      transform: rotate(-33deg);

      @media (min-width: 550px) {
        right: 50%;
        top: -11%;
      }
    }

    &__img4-bg {
      top: 0;
      width: 330px;

      @media (min-width: 550px) {
        width: 400px;
      }
    }

    &__img4 {
      top: -18%;
      transform: rotate(-10deg);
      width: 330px;

      @media (min-width: 550px) {
        top: -7%;
        width: 380px;
      }
    }

    &__img5-bg {
      top: 0;
      width: 350px;
    }

    &__img5 {
      top: -28%;
      transform: rotate(11deg);
      width: 130px;

      @media (min-width: 550px) {
        top: -10%;
        width: 135px;
      }
    }

    &__img6-bg {
      width: 0;

      @media (min-width: 550px) {
        align-self: center;
        width: 270px;
      }
    }

    &__img6 {
      clip: rect(0px, 230px, 110px, 0px);
      top: -110px;
      width: 230px;

      @media (min-width: 550px) {
        bottom: -171px;
        top: auto;
      }
    }

    &__img7-bg {
      transform: rotate(-180deg);
      width: 200px;

      @media (min-width: 550px) {
        transform: rotate(360deg);
        width: 300px;
      }
    }

    &__img7 {
      top: -25%;
      width: 80px;

      @media (min-width: 550px) {
        top: 63%;
        transform: rotate(7deg);
        width: 100px;
      }
    }
  }
}

.bubble {
  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  &__general {
    background-color: $color-bubble-mint;
    border-radius: 10px;
    margin: 2px 18% 2px 2px;
    padding: 8px 12px;
    position: relative;
  }

  &__florence {
    display: inline-block;

    @media (min-width: 800px) {
      margin: 2px 10% 2px 2px;
    }

    ul li {
      left: -10px;
      list-style: disc inside none;
      padding-left: 10px;
      position: relative;
    }

    &--tail {
      z-index: 1;

      &:before {
        background: $color-bubble-mint;
        border-bottom-right-radius: 150px 50px;
        border-right: 30px solid $color-bubble-mint;
        bottom: -1px;
        content: "";
        height: 10px;
        left: -7px;
        position: absolute;
        transform: translate(0, -2px) rotate(160deg) scaleY(-1);
        z-index: -1;
      }
    }
  }

  &__patient {
    background-color: $color-light-blue;
    flex-basis: content;
    margin: 2px;
    padding: 8px 15px;
    z-index: 1;

    &:before {
      background: $color-light-blue;
      border-bottom-right-radius: 150px 50px;
      border-right: 30px solid $color-light-blue;
      bottom: 1px;
      content: "";
      height: 10px;
      position: absolute;
      right: -6px;
      transform: translate(0, -2px) rotate(40deg);
      z-index: -1;
    }

    @media (min-width: 800px) {
      padding: 8px 12px;
    }
  }
}

.avatar {
  background-color: $color-yellow;
  border-radius: 50%;
  display: block;
  margin-left: -44px;
  margin-top: -38px;
  width: 38px;

  &--1 {
    margin-left: -44px;
    margin-top: -75px;
  }
}

.emoji {
  margin-right: 3%;
  width: 15px;
}

.no-numbers {
  list-style: none;
}
