.solution {
  @include flex;
  background: linear-gradient($color-medium-blue 5%, $color-mint 90%);

  &__wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding: 2.5rem 2rem 4rem;
    position: relative;
    width: 100%;

    @media (min-width: 34.375em) {
      margin: 2rem auto;
      padding: 4rem 6.5rem 0;
      width: 95%;
    }

    @media (min-width: 50em) {
      margin: 3rem auto 1rem;
      padding: 4.6rem 7.8rem 1rem;
    }
  }

  &__florence {
    display: block;
    margin: -15rem auto 3rem;
    width: 20rem;
    height: 21rem;

    @media (min-width: 34.375em) {
      margin-top: -20rem;
    }
  }

  &__hdr {
    margin-bottom: $content-margin-btm;

    &--top {
      display: block;
      padding-bottom: $hdr-padding-btm;
    }
  }

  &__context {
    margin-bottom: $content-margin-btm;
  }

  &__section {
    align-items: center;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    margin: 7rem 0;
    padding: 5rem 2rem;
    position: relative;
    width: 100%;

    @media (min-width: 34.375em) {
      background-color: $color-white;
      border-radius: 0.5rem;
      flex-direction: row;
      margin: 5rem;
      max-width: 77rem;
      min-height: 39.5rem;
      padding: 5rem;
    }

    @media (min-width: 50em) {
      padding: 5rem 8.5rem;
    }

    &--1 {
      @media (min-width: 34.375em) {
        margin-top: 1rem;
      }
    }

    &--2 {
      @media (min-width: 50em) {
        padding: 1rem 8.5rem;
      }
    }

    &--6 {
      @media (min-width: 50em) {
        overflow: hidden;
      }
    }

    &--7 {
      margin-bottom: 4rem;

      @media (min-width: 34.375em) {
        margin-bottom: 0.5rem;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      margin: 0;

      @media (min-width: 34.375em) {
        flex-basis: 50%;
        margin-right: 2rem;
      }
    }

    &__right {
      margin-right: -3rem;
      max-width: 42rem;
      padding: 0.5rem 5rem 1rem;

      @media (min-width: 34.375em) {
        align-self: center;
        flex-basis: 40%;
        margin-left: 4rem;
        margin-right: auto;
        padding: 0;
        z-index: 2;
      }
    }

    &__hdr {
      padding-bottom: $hdr-padding-btm;
    }

    &__content {
      margin-bottom: $content-margin-btm;
      z-index: 2;
    }

    &__bg {
      align-self: center;
      position: absolute;
      top: 0;
      z-index: 0;

      @media (min-width: 34.375em) {
        bottom: 0;
        top: auto;
      }
    }

    &__img {
      align-self: center;
      position: absolute;
      z-index: 1;
    }

    &__img1-bg {
      transform: rotate(-180deg);
      width: 19rem;

      @media (min-width: 34.375em) {
        transform: rotate(360deg);
        width: 25rem;
      }
    }

    &__img1 {
      top: -9rem;
      width: 12.5rem;
      @media (min-width: 34.375em) {
        top: 68%;
        width: 15rem;
      }
    }

    &__img2-bg {
      transform: rotate(-180deg);
      width: 18rem;

      @media (min-width: 34.375em) {
        transform: rotate(360deg);
        width: 26rem;
      }
    }

    &__img2 {
      top: -8rem;
      width: 10rem;

      @media (min-width: 34.375em) {
        bottom: -4rem;
        top: auto;
        width: 12rem;
      }
    }

    &__img3-bg {
      top: 0;
      width: 29rem;

      @media (min-width: 34.375em) {
        right: 30%;
        width: 30rem;
      }
    }

    &__img3 {
      height: 15rem;
      top: -15%;
      transform: rotate(-33deg);

      @media (min-width: 34.375em) {
        right: 50%;
        top: -11%;
      }
    }

    &__img4-bg {
      top: 0;
      width: 33rem;

      @media (min-width: 34.375em) {
        width: 40rem;
      }
    }

    &__img4 {
      top: -18%;
      transform: rotate(-10deg);
      width: 33rem;

      @media (min-width: 34.375em) {
        top: -7%;
        width: 38rem;
      }
    }

    &__img5-bg {
      top: 0;
      width: 35rem;
    }

    &__img5 {
      top: -28%;
      transform: rotate(11deg);
      width: 13rem;

      @media (min-width: 34.375em) {
        top: -10%;
        width: 13.5rem;
      }
    }

    &__img6-bg {
      width: 0;

      @media (min-width: 34.375em) {
        align-self: center;
        width: 27rem;
      }
    }

    &__img6 {
      clip: rect(0px, 230px, 110px, 0px);
      top: -11rem;
      width: 23rem;

      @media (min-width: 34.375em) {
        bottom: -17.1rem;
        top: auto;
      }
    }

    &__img7-bg {
      transform: rotate(-180deg);
      width: 20rem;

      @media (min-width: 34.375em) {
        transform: rotate(360deg);
        width: 30rem;
      }
    }

    &__img7 {
      top: -25%;
      width: 8rem;

      @media (min-width: 34.375em) {
        top: 63%;
        transform: rotate(7deg);
        width: 10rem;
      }
    }
  }
}

.bubble {
  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  &__general {
    background-color: $color-bubble-mint;
    border-radius: 1rem;
    margin: 0.2rem 18% 0.2rem 0.2rem;
    padding: 0.8rem 1.2rem;
    position: relative;
  }

  &__florence {
    display: inline-block;

    @media (min-width: 50em) {
      margin: 0.2rem 10% 0.2rem 0.2rem;
    }

    ul li {
      left: -1rem;
      list-style: disc inside none;
      padding-left: 1rem;
      position: relative;
    }

    &--tail {
      z-index: 1;

      &:before {
        background: $color-bubble-mint;
        border-bottom-right-radius: 15rem 5rem;
        border-right: 30px solid $color-bubble-mint;
        bottom: -0.1rem;
        content: "";
        height: 1rem;
        left: -0.7rem;
        position: absolute;
        transform: translate(0, -0.2rem) rotate(160deg) scaleY(-1);
        z-index: -1;
      }
    }
  }

  &__patient {
    background-color: $color-light-blue;
    flex-basis: content;
    margin: 0.2rem;
    padding: 0.8rem 1.5rem;
    z-index: 1;

    &:before {
      background: $color-light-blue;
      border-bottom-right-radius: 15rem 5rem;
      border-right: 3rem solid $color-light-blue;
      bottom: 0.1rem;
      content: "";
      height: 1rem;
      position: absolute;
      right: -0.6rem;
      transform: translate(0, -0.2rem) rotate(40deg);
      z-index: -1;
    }

    @media (min-width: 50em) {
      padding: 0.8rem 1.2rem;
    }
  }
}

.avatar {
  background-color: $color-yellow;
  border-radius: 50%;
  display: block;
  margin-left: -4.4rem;
  margin-top: -3.8rem;
  width: 3.8rem;

  &--1 {
    margin-left: -4.4rem;
    margin-top: -7.5rem;
  }
}

.emoji {
  margin-right: 3%;
  width: 1.5rem;
}

.no-numbers {
  list-style: none;
}
