.key-factors {
  background-color: $color-mint;
  margin-top: 1.5rem;

  &__wrapper {
    margin: 0 auto;
    max-width: 77rem;
    padding: 2.5rem 1.5rem;
    position: relative;

    @media (min-width: 34.4em) {
      margin: 2rem auto;
      padding: 4rem 6.5rem;
    }

    @media (min-width: 50em) {
      margin: 3rem auto;
      padding: 5rem 8.5rem;
    }
  }

  &__hdr {
    padding-bottom: $hdr-padding-btm;
  }

  &__list {
    @include flex;
    position: relative;

    &__body-wrapper {
      margin: 1rem auto;
      position: relative;
      width: 18rem;

      @media (min-width: 43.75em) {
        margin-top: 4rem;
        width: 25rem;
      }
    }

    &__bodyimg {
      width: 100%;
    }

    &__item {
      background-color: $color-white;
      border-radius: .5rem;
      margin: 2rem .5rem;
      max-width: 35rem;
      padding: 3rem 2.5rem 2rem;
      position: relative;
      vertical-align: middle;
      width: 100%;

      @media (min-width: 43.75em) {
        height: 12rem;
        overflow-x: visible;
        width: 24rem;

        &:before {
          background-color: $color-white;
          border-radius: 50%;
          content: "";
          display: block;
          height: 11.5rem;
          position: absolute;
          top: .1rem;
          width: 11.5rem;
          z-index: -1;
        }
      }

      &--1 {
        margin-top: -12rem;

        @media (min-width: 43.75em) {
          border-bottom-left-radius: 20%;
          border-top-left-radius: 20%;
          margin-top: -45.5rem;
          padding: 1rem 1rem 1rem 3rem;
          transform: translate( 16rem, -14rem);

          &:before {
            left: -2.2rem;
          }
        }
      }

      &--2 {
        @media (min-width: 43.75em) {
          border-bottom-right-radius: 20%;
          border-top-right-radius: 20%;
          height: 12rem;
          overflow-x: visible;
          padding: 1rem 3rem 1rem 1rem;
          transform: translate( -14rem, -19rem);
          width: 24rem;

          &:before {
            right: -2.2rem;
          }
        }
      }

      &--3 {
        @media (min-width: 43.75em) {
          border-bottom-left-radius: 20%;
          border-top-left-radius: 20%;
          margin-top: -5rem;
          padding: 1rem 1rem 1rem 3rem;
          transform: translate( 17rem, -17rem);

          &:before {
            left: -2.2rem;
          }
        }
      }

      &--4 {
        @media (min-width: 43.75em) {
          border-bottom-right-radius: 20%;
          border-top-right-radius: 20%;
          height: auto;
          margin-top: -23rem;
          padding: 1rem 3rem 1rem 1rem;
          transform: translate( -23rem, -5rem);

          &:before {
            height: 13.8rem;
            right: -2.2rem;
            width: 13.8rem;
          }
        }
      }
    }
  }

  .icon {
    background-color: $color-yellow;
    border-radius: 50%;
    border: .5rem solid $color-white;
    box-shadow: 0 0 0 .5rem rgba(#ffffff, 0.6);
    left: 0;
    margin: 0 auto;
    padding: .8rem;
    position: absolute;
    right: 0;
    top: -2rem;
    width: 4.5rem;

    &__body {
      border-radius: 50%;
      border: .3rem solid $color-white;
      box-shadow: 0 0 0 .5rem rgba(#ffffff, 0.6);
      padding: .5rem;
      position: absolute;
      width: 3rem;

      @media (min-width: 43.75em) {
        display: none;
      }

      &--1 {
        left: 4rem;
        top: 1rem;
      }

      &--2 {
        left: 2rem;
        top: 8rem;
      }

      &--3 {
        left: 6rem;
        top: 17rem;
      }

      &--4 {
        left: -13rem;
        top: 19rem;
      }
    }

    &--left {
      @media (min-width: 43.75em) {
        left: -25.5rem;
        top: 3.2rem;
        width: 5.5rem;
      }
    }

    &--right {
      @media (min-width: 43.75em) {
        left: 22.5rem;
        top: 3rem;
        width: 5.5rem;

        &--2 {
          top: 4.2rem;
        }
      }
    }
  }
}
