.keyFactors {
  @include section-setup( $color-mint , 4rem );

  &__wrapper {
    position: relative;
    @include flex;
    max-width: 77rem;
    width: 100%;
    margin: 0;
    padding: 2.5rem 1.5rem;
    @media (min-width: 550px) {
      margin: 2rem;
      padding: 4rem 6.5rem;
    }
    @media (min-width: 800px) {
      margin: 3rem;
      padding: 5rem 8.5rem;
    }
  }

  &__hdr {
    padding-bottom: $hdr-padding-btm;
  }

  &__list {
    position: relative;
    @include flex;

    &__bodyimg {
      width: 200px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 550px) {
        width: 350px;
        margin-top: 3.5rem;
      }
    }

    &__item {

      &--1 {
        @include item( 30rem);

        &:before {
          content: " ";
          position: absolute;
          display: block;
          background-color: rgba(255, 255, 255, 0.63);
          border-radius: 50px;
          width: 60px;
          height: 60px;
          left: 44%;
          top: -21%;
        }
        @media (min-width: 550px) {
          max-width: 23rem;
          padding: 1rem;
          transform: translate(70%, -220%);
          overflow-x: visible;

          &:before {
            content: " ";
            position: absolute;
            display: block;
            background-color: rgba(255, 255, 255, 0.63);
            border-radius: 50px;
            width: 75px;
            height: 75px;
            left: -17%;
            top: 28.5%;
          }
        }
      }

      &--2 {
        @include item( 53rem );


        @media (min-width: 550px) {
          max-width: 23rem;
          padding: 1rem;
          transform: translate(-50%, -350%);
        }
      }

      &--3 {
        @include item( 74rem );

        @media (min-width: 550px) {
          max-width: 23rem;
          padding: 1rem;
          transform: translate(70%, -420%);
        }
      }

      &--4 {
        @include item( 96rem );

        @media (min-width: 550px) {
          max-width: 23rem;
          padding: 1rem;
          transform: translate(-88%, -455%);
        }
      }
    }
  }

  .icon {
    position: absolute;
    width: 50px;
    background-color: $color-yellow;
    border: 5px solid $color-white;
    border-radius: 50%;
    padding: 1rem;
    top: -30px;
    align-self: center;

    &--left {
      @media (min-width: 550px) {
        left: -15%;
        top: 32%;
        width: 63px;
      }
    }

    &--right {
      @media (min-width: 550px) {
        left: 90%;
        top: 32%;
        width: 63px;
      }
    }
  }
}
