.key-factors {
  background-color: $color-mint;
  margin-top: 1.5rem;

  &__wrapper {
    margin: 0 auto;
    max-width: 77rem;
    padding: 2.5rem 1.5rem;
    position: relative;

    @media (min-width: 550px) {
      margin: 20px auto;
      padding: 40px 65px;
    }

    @media (min-width: 800px) {
      margin: 30px auto;
      padding: 5rem 8.5rem;
    }
  }

  &__hdr {
    padding-bottom: $hdr-padding-btm;
  }

  &__list {
    @include flex;
    position: relative;

    &__body-wrapper {
      margin: 10px auto;
      position: relative;
      width: 180px;

      @media (min-width: 700px) {
        margin-top: 40px;
        width: 250px;
      }
    }

    &__bodyimg {
      width: 100%;
    }

    &__item {
      background-color: $color-white;
      border-radius: 5px;
      margin: 2rem 0.5rem;
      max-width: 350px;
      padding: 3rem 2.5rem 2rem;
      position: relative;
      vertical-align: middle;
      width: 100%;

      @media (min-width: 700px) {
        height: 120px;
        overflow-x: visible;
        width: 24rem;

        &:before {
          background-color: $color-white;
          border-radius: 50%;
          content: "";
          display: block;
          height: 115px;
          position: absolute;
          top: 1px;
          width: 115px;
          z-index: -1;
        }
      }

      &--1 {
        margin-top: -120px;

        @media (min-width: 700px) {
          border-bottom-left-radius: 20%;
          border-top-left-radius: 20%;
          height: 120px;
          margin-top: -455px;
          overflow-x: visible;
          padding: 10px 10px 10px 30px;
          transform: translate( 160px, -140px);
          width: 24rem;

          &:before {
            left: -22px;

          }
        }
      }

      &--2 {
        @media (min-width: 700px) {
          border-bottom-right-radius: 20%;
          border-top-right-radius: 20%;
          height: 120px;
          overflow-x: visible;
          padding: 10px 30px 10px 10px;
          transform: translate( -140px, -190px);
          width: 24rem;

          &:before {
            right: -22px;
          }
        }
      }

      &--3 {
        @media (min-width: 700px) {
          border-bottom-left-radius: 20%;
          border-top-left-radius: 20%;
          margin-top: -50px;
          padding: 10px 10px 10px 30px;
          transform: translate( 170px, -170px);

          &:before {
            left: -22px;
          }
        }
      }

      &--4 {
        @media (min-width: 700px) {
          border-bottom-right-radius: 20%;
          border-top-right-radius: 20%;
          height: auto;
          margin-top: -230px;
          padding: 10px 30px 10px 10px;
          transform: translate( -230px, -50px);

          &:before {
            height: 138px;
            right: -22px;
            width: 138px;
          }
        }
      }
    }
  }

  .icon {
    background-color: $color-yellow;
    border-radius: 50%;
    border: 5px solid $color-white;
    box-shadow: 0 0 0 5px rgba(#ffffff, 0.6);
    left: 0;
    margin: auto;
    padding: 8px;
    position: absolute;
    right: 0;
    top: -20px;
    width: 45px;

    &__body {
      border-radius: 50%;
      border: 3px solid $color-white;
      box-shadow: 0 0 0 5px rgba(#ffffff, 0.6);
      padding: 5px;
      position: absolute;
      width: 30px;

      @media (min-width: 700px) {
        display: none;
      }

      &--1 {
        left: 40px;
        top: 10px;
      }

      &--2 {
        left: 20px;
        top: 80px;
      }

      &--3 {
        left: 60px;
        top: 170px;
      }

      &--4 {
        left: -130px;
        top: 190px;
      }
    }

    &--left {
      @media (min-width: 700px) {
        left: -255px;
        top: 32px;
        width: 55px;
      }
    }

    &--right {
      @media (min-width: 700px) {
        left: 225px;
        top: 30px;
        width: 55px;

        &--2 {
          top: 42px;
        }
      }
    }
  }
}
