.footer {
  background-color: $color-dark-blue;
  overflow: hidden;

  &__wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding: 25px 20px;
    position: relative;
    width: 100%;

    @media (min-width: 550px) {
      margin: 20px auto 5px;
      padding: 40px 65px 5px;
      width: 95%;
    }

    @media (min-width: 800px) {
      margin: 0px auto 5px;
      padding: 46px 78px 5px;
    }
  }

  &__hdr {
    
    &--2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 170px;

      @media (min-width: 550px) {
      display: inline-block;
      padding-left: 10px;
      vertical-align: middle;
      }
    }
  }

  &__context {
    padding: 0 15px;

    @media (min-width: 450px) {
      padding: 0 50px;
    }
  }

  &__bottom {
    position: relative;
  }

  &__link {
    @include darken-on-hover( $color-dark-blue, 10% );
    border-radius: 25px;
    border: solid $color-yellow 2px;
    display: block;
    margin: 30px auto 100px;
    padding: 10px 40px;
    width: 240px;

    @media (min-width: 500px) {
      margin-bottom: 40px;
    }
  }

  &__avatar {
    bottom: -200px;
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 170px;

    @media (min-width: 500px) {
      transform: translate( -240px, -90px);
    }
  }
}
