.header {
  background-color: $color-mint;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__wrapper {
    max-width: 50rem;
    width: 100%;
    padding: 0px 20px;
    margin: 4rem 0rem;
    position: relative;

    @media (min-width: 550px) {
      max-width: 50rem;
      width: 100%;
      padding: 0px 20px;
      margin: 5rem 6rem;
      position: relative;
    }

    &--pills1 {
      position: absolute;
      width: 95px;
      left: -100px;
      bottom: 20px;
    }

    &--pills2 {
      position: absolute;
      height: 110px;
      top: -95px;
      transform: rotate(40deg);
    }

    &--pills3 {
      position: absolute;
      width: 185px;
      right: -100px;
      top: -55px;
      transform: rotate(8deg);

      @media (min-width: 450px) {
        width: 200px;
        right: -80px;
      }
    }
  }

  &__primary {
    display: block;

    &--top {
      display: block;
      text-align: center;
    }

    &--btm {
      display: block;
      max-width: 100%;
    }
  }
}
