.nav {
  background-color: $color-mint;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
  top: -1px;
  z-index: 10;

  @media (min-width: 550px) {
    padding: 2px 0 0 12px;
    position: relative;
  }

  &__wrapper {
    display: flex;
    max-width: 50rem;
    padding: 0;
    text-align: center;


    a {
      padding: 1rem 1.5rem;
      box-shadow: inset 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
>>>>>>> length units update
    }
    @media (min-width: 550px) {
      margin-left: auto;
      margin-right: auto;
      padding: 0.5rem 0;

      a {
        padding: 1rem 2rem;
      }
    }
  }

  &__link {
    &--problem {
      @media (min-width: 410px) {
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
      }
    }

    &--solution {
      @media (min-width: 410px) {
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
=======
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
>>>>>>> length units update
      }
    }
  }
}

.red-nav {
  @include darken-on-hover($color-red, 10%);
  background-color: $color-red;
}

.blue-nav {
  @include darken-on-hover($color-medium-blue, 10%);
  background-color: $color-medium-blue;
}
