.nav {
  background-color: $color-mint;
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  top: 0;

  &__wrapper {
    display: flex;
    padding: .5rem 0rem;

    @media (min-width: 550px) {
      max-width: 50rem;

      a {
        padding: 1rem 2rem;
        box-shadow: inset 0 1rem 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__link {
    &--problem {
      @media (min-width: 550px) {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
    }

    &--keyFactors {}

    &--question {}

    &--solution {
      @media (min-width: 550px) {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  }
}

.red-nav {
  background-color: $color-red;
  @include darken-on-hover($color-red, 10%);
}

.blue-nav {
  background-color: $color-medium-blue;
  @include darken-on-hover($color-medium-blue, 10%);
}
