.nav {
  background-color: $color-mint;
  background-color: $color-red;
  box-shadow: inset 0 1rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  position: sticky;
  top: -0.1rem;
  z-index: 6;

  @media (min-width: 34.375em) {
    background-color: transparent;
    box-shadow: none;
    padding: 0.2rem 0 0 1.2rem;
    position: relative;
  }

  &__wrapper {
    display: flex;
    max-width: 50rem;
    padding: 0;
    text-align: center;

    a {
      box-shadow: inset 0 1rem 0 rgba(0, 0, 0, 0.1);
      padding: 1rem 1.5rem;
    }

    @media (min-width: 34.375em) {
      margin-left: auto;
      margin-right: auto;
      padding: 0.5rem 0;

      a {
        padding: 1rem 2rem;
      }
    }
  }

  &__link {
    border-radius: 0;

    &--problem {
      @media (min-width: 34.375em) {
        border-radius: 5rem 0 0 5rem;
      }
    }

    &--solution {
      @media (min-width: 34.375em) {
        border-radius: 0 5rem 5rem 0;
      }
    }
  }
}

.red-nav {
  @include darken-on-hover($color-red, 10%);
  background-color: $color-red;
}

.blue-nav {
  @include darken-on-hover($color-medium-blue, 10%);
  background-color: $color-medium-blue;
}
