.problem {
  background-color: $color-mint;
  margin-top: 15px;

  &__wrapper {
    background-color: $color-white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 25px 20px;
    position: relative;
    width: 100%;

    @media (min-width: 550px) {
      margin: 20px auto;
      padding: 40px 65px;
      width: 95%;
    }

    @media (min-width: 800px) {
      margin: 30px auto;
      padding: 46px 78px;
    }
  }

  &__intro {
    margin-bottom: $content-margin-btm;
  }

  &__context {
    margin-bottom: $content-margin-btm;
  }

  &__quote__wrapper {
    margin-left: 28%;
    position: relative;
  }

  &__quote {
    margin-bottom: 24px;
  }

  &__author {
    display: block;
  }

  &__bottles__wrapper {
    left: -100px;
    max-width: 100px;
    position: relative;
    top: 70px;

    @media (min-width: 500px) {
      left: -170px;
      top: 105px;
    }
  }

  &__bottle1 {
    @include size-and-position(absolute, 175%, -100%, -62%);

    @media (min-width: 500px) {
      @include size-and-position(absolute, 175%, -100%, -62%);
    }
  }

  &__bottle2 {
    @include size-and-position(absolute, 75%, 15%, -55%);

    @media (min-width: 500px) {
      @include size-and-position(absolute, 108%, 15%, -55%);
    }
  }

  &__bottle3 {
    @include size-and-position(absolute, 100%, -43%, -25%);

    @media (min-width: 500px) {
      @include size-and-position(absolute, 150%, -43%, -25%);
    }
  }

  &__pills1 {
    @include size-and-position(absolute, 120px, 550px, -110px);
    position: absolute;
    z-index: 6;

    @media (min-width: 800px) {
      @include size-and-position(absolute, 130px, 580px, -125px);
    }
  }
}
