.problem {
  background-color: $color-mint;
  margin-top: 1.5rem;

  &__wrapper {
    background-color: $color-white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 77rem;
    padding: 2.5rem 1.5rem;
    position: relative;
    width: 100%;
    @media (min-width: 550px) {
      margin: 2rem auto;
      padding: 4rem 6.5rem;
      width: 95%;
    }
    @media (min-width: 800px) {
      margin: 3rem auto;
      padding: 4.6rem 8.2rem;
    }
  }

  &__intro {
    margin-bottom: $content-margin-btm;
  }

  &__context {
    margin-bottom: $content-margin-btm;
  }


  &__row3{
    display: flex;
    justify-content: space-between;
  }

  &__quote__wrapper {
    flex-basis: 70%;

    @media (min-width: 450px) {
      max-width: 35rem;

    }

    @media (min-width: 680px) {
      flex-basis: 70%;
    }

    @media (min-width: 750px) {
      flex-basis: 75%;
    }
  }

  &__quote {
    margin-bottom: 2.5rem;
  }

  &__author {
    display: flex;
    justify-content: center;
  }

  &__bottles__wrapper {
    display: flex;
    flex-basis: 20%;
    max-width: 10rem;
    position: relative;
    width: 100%;
  }


  &__bottle1 {
    @include size-and-position(absolute, 150%, -120%, -28%);

    @media (min-width: 550px) {
      @include size-and-position(absolute, 175%, -100%, -62%);
    }
  }

  &__bottle2 {
    @include size-and-position(absolute, 130%, -5%, -1%);

    @media (min-width: 550px) {
      @include size-and-position(absolute, 108%, 15%, -55%);
    }
  }

  &__bottle3 {
    @include size-and-position(absolute, 180%, -55%, 30%);

    @media (min-width: 550px) {
      @include size-and-position(absolute, 160%, -43%, -25%);
    }
  }

  &__pills1 {
    @include size-and-position(absolute, 100px, 170px, -275px);

    @media (min-width: 550px) {
      @include size-and-position(absolute, 140px, 530px, -470px);
    }
  }
}
