.question {
  background-color: $color-mint;
  margin-top: 1.5rem;

  &__wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding: 2.5rem 2rem 15rem;
    position: relative;
    width: 100%;

    @media (min-width: 34.4em) {
      margin: 2rem auto ;
      padding: 4rem 6.5rem 15rem;
      width: 95%;
    }

    @media (min-width: 50em) {
      margin: 3rem auto;
      padding: 4.6rem 7.8rem 10rem;
    }
  }

  &__hdr {
    margin-bottom: 1rem;

    &__wrapper {
      position: relative;
    }
  }


  &__intro {
    margin-bottom: $content-margin-btm;
  }

  &__context {
    margin-bottom: $content-margin-btm;

    @media (min-width: 45em) {
      margin-right: 10%;
    }

    @media (min-width: 50em) {
      margin-bottom: 2.6rem;
    }
  }

  &__intro {
    margin-right: 7.5rem;

    @media (min-width: 45em) {
      margin-right: 0;
    }
  }

  &__phone {
    position: absolute;
    right: 0;
    transform: rotate(6deg) translate(45px, -125px);
    width: 13.5rem;

    @media (min-width: 34.4em) {
      transform: rotate(6deg) translate(45px, -115px);
    }

    @media (min-width: 45em) {
      transform: rotate(6deg) translate(185px, 15px);
      width: 23rem;
    }
  }
}
