.question {
  background-color: $color-mint;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  &__wrapper {
    position: relative;
    @include flex;
    width: 100%;
    height: 100%;
    max-width: 77rem;
    margin: 0rem;
    padding: 2.5rem 1.5rem;

    @media (min-width: 550px) {
      margin: 2rem;
      padding: 4rem 6.5rem;
    }

    @media (min-width: 800px) {
      margin: 3rem;
      padding: 5rem 8.5rem;
    }
  }


  &__hdr {
    margin-bottom: 1rem;
  }

  &__intro{
    margin-bottom: $content-margin-btm;
  }

  &__context {
    margin-bottom: $content-margin-btm;

    @media (min-width: 550px) {
      margin-right: 20rem;
    }

    @media (min-width: 550px) {
      margin-right: 10rem;
    }
    @media (min-width: 800px) {
      margin-bottom: 2.6rem;
    }
  }



  &__intro {
    margin-right: 7.5rem;

    @media (min-width: 550px){
      margin-right: 0;
    }
  }

  &__phone {
    position: absolute;
    right: 0px;
    width: 130px;
    transform: rotate(6deg) translate(0%, -140%);

    @media (min-width: 400px) {
      width: 150px;
      transform: rotate(6deg) translate(0%, -160%);
    }
    // @media (min-width: 550px) {
    //   // width: 220px;
    //   // transform: rotate(6deg) translate(8%, 25%);
    // }
    @media (min-width: 800px) {
      width: 290px;
      transform: rotate(6deg) translate(20%, 5%);
    }
  }
}
